# --- SECURITY ---
.env
.env.local
*.key
*.pem

# --- BACKEND (Java / Spring Boot) ---
target/
*.class
.mvn/
mvnw
mvnw.cmd
*.log
logs/

# --- FRONTEND (Angular / Node) ---
node_modules/
dist/
.angular/
# package-lock.json 


# --- IDEs / EDITOR CONFIGS ---
.idea/
*.iml
.vscode/
*.sublime-workspace

# --- OPERATING SYSTEM FILES ---
.DS_Store
Thumbs.db

# --- DOCKER ---
docker-compose.override.yml